@font-face { 
    font-family: "Adventure Request"; 
    src: url('fonts/Adventure\ ReQuest-e679.woff'); 
} 

body {
    font-family: "Adventure Request";
    font-size: larger;
    background-color: antiquewhite;
}

button {
    font-family: "Adventure Request";
    font-size: medium;
    background-color: rgb(217, 237, 214);
}

button:hover {
    background-color: rgb(117, 175, 127);
}

button:active {
    background-color: rgb(237, 231, 190);
}

.currency {
    float:left;
    padding: 5px;
}

.menu {
    display: flex;
    width: 25%;
    align-items: center;
}

.push {
    margin-left: auto;
}

.purchase {
    padding: 5px;
}