@font-face { 
    font-family: "Adventure Request"; 
    src: url('fonts/Adventure\ ReQuest-e679.woff'); 
} 

a {
    all:unset;
}

body {
    font-family: "Adventure Request";
    font-size: larger;
    background-color: antiquewhite;
    color: rgb(57, 56, 93);
    
}

button {
    font-family: "Adventure Request";
    font-size: medium;
    background-color: rgb(255 213 142);
    border-color: rgb(255 213 142);
}

button:active {
    background-color: rgb(226, 245, 216);
}

.currency {
    float:left;
    padding: 5px;
}

.menu {
    display: flex;
    width: 25%;
    align-items: center;
}

.push {
    margin-left: auto;
}

.purchase {
    padding: 5px;
}

/* ipad */
@media screen and (min-width: 1024px) {
    .menu {
        width: 50%;
    }
}

/* mobile phone */
@media screen and (min-width: 360px) and (max-width: 500px) {
    .menu {
        width: 100%;
    }
}